/* Send and Request Button */
.send-request-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Scan QR Icon Container */
.scan-qr-icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
}
