#loadingScreenContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#loadingScreenContainer .doomsday {
  position: absolute;
  right: 0;
  top: 20px;
}
