#displayCurrencyContainer {
  display: flex;
  flex: 1;
  position: relative;
  margin-top: 20px;
}
#displayCurrencyContainer .displayCurrencyInputContainer {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;

  max-width: unset;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
#displayCurrencyContainer .displayCurrencyInput {
  width: 100%;
  max-width: 600px;
}
#displayCurrencyContainer .fiatCurrencyElementContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: fit-content;
}
#displayCurrencyContainer .fiatCurrencyElement {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
}
#displayCurrencyContainer .nameContainer {
  margin-left: 10px;
}
#displayCurrencyContainer .nameContainer p {
  margin: 0;
}
#displayCurrencyContainer .nameContainer p:last-child {
  font-size: 0.75rem;
  opacity: 0.8;
}
