.invoiceContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  margin-top: 30px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.invoiceContainer .contactRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.invoiceContainer .profileImage {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 10px;
}

.invoiceContainer .addressText {
  flex-shrink: 1;
  margin: 0;
}
