#contactsPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 65px;
}
/* navbar */
#contactsPage .contactsPageTopBar {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
#contactsPage .contactsPageTopBar .pageHeaderText {
  width: 100%;
  position: absolute;
  font-size: 1.25rem;
  text-align: center;
  white-space: nowrap; /* Prevent line break */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add "..." at end */
  max-width: 100%; /* Optional: constrain width */
  flex: 1; /* Fill available space if needed */
  padding: 0 35px;
  margin: 0;
}
#contactsPage .contactsPageTopBar .myContactContainer {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* No contacts container */
#contactsPage .noContactsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

/* row items */
#contactsPage .pinned-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  max-width: 80px;
}
#contactsPage .pinnedContactScrollview {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  overflow-x: scroll;
}
#contactsPage .pinned-contact-image-wrapper {
  width: 100%;
  margin-bottom: 5px;
}

#contactsPage .pinned-contact-image-container {
  width: 100%;

  aspect-ratio: 1;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#contactsPage .pinned-contact-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#contactsPage .pinned-contact-name {
  width: 100%;
  font-size: 12px;
  margin: 5px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#contactsPage .contact-row {
  width: 95%;
  display: flex;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
  margin: 0 auto;
}

#contactsPage .contact-image-container {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#contactsPage .contact-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#contactsPage .contact-row-inline {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

#contactsPage .contact-name-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 5px;
}

#contactsPage .unknown-sender {
  font-size: 12px;
  opacity: 0.8;
  margin: 0;
}

#contactsPage .contact-date {
  font-size: 12px;
  margin: 0;
  margin-right: 5px;
}

#contactsPage .contact-arrow {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}

#contactsPage .contact-preview {
  font-size: 12px;
  opacity: 0.85;
  margin: 0;
}

#contactsPage .notification-dot {
  width: 10px;
  height: 10px;
  margin: 0;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
}

#contactsPage .add-contact-icon {
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
}

#contactsPage .add-contact-text {
  font-weight: 500;
  margin: 0;
}
