#displayOptionsContainer {
  flex: 1;
  width: 100%;
}
#displayOptionsContainer .themeRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#displayOptionsContainer .backgroundContainer {
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#displayOptionsContainer .denominationContainer {
  width: max-content;
  padding: 0 15px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#displayOptionsContainer .denominationLabelText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  flex-shrink: 1;
}

#displayOptionsContainer .exampleText {
  text-align: center;
  margin-bottom: 0;
}
#displayOptionsContainer .formattedSatTextContainer p {
  margin-top: 0;
  margin-bottom: 0;
}

/* removing bad css styles  */
#displayOptionsContainer .css-2s7so3-MuiSlider-root {
  padding: 0 !important;
  margin-bottom: 0 !important;
}
#displayOptionsContainer .css-6jo5gg {
  padding: 0 !important;
  margin-bottom: 0 !important;
}
