.walletNavBar {
  width: 100%;
  padding-bottom: 10px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: red;
  z-index: 99;
  align-items: center;
}
.walletNavBar img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.walletNavBar .themeContainer {
  display: flex;
  align-items: center;
}
.walletNavBar .refreshContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
}
.walletNavBar .refreshContainer img {
  margin-right: 5px;
}
.walletNavBar .refreshContainer .spinningAnimation {
  animation: spin 2s linear infinite;
}
.walletNavBar .refreshContainer p {
  margin: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
