.receiveButtonContainer {
  max-width: 300px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switchNetworkButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
  padding: 12px 0;
  text-align: center;
}
