.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end; /* modal slides up from bottom */
  z-index: 999;
}

.modal {
  width: 100%;
  max-width: 500px;
  height: 50vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.3s;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
}

/* Slide up animation */
.slide-in {
  transform: translateY(0%);
}

/* Slide down animation */
.slide-out {
  transform: translateY(100%);
}
