/* Navigation Bar with Balance */
.nav-bar-top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  position: relative;
}

.nav-bar-back-arrow {
  position: absolute;
  z-index: 99;
  left: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding: 0 35px;
  justify-content: center;
}
