.safeAreaContainerBackground {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
}

.safeAreaContainer {
  width: 95%;
  max-width: 800px;
  height: 100%;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
}
