.backupContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backupContainer .backup-content {
  width: 90%;
  max-width: 400px;
  background-color: var(--dmt);
  padding: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.backupContainer .header {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 12px;
}
.backupContainer .description {
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 24px;
}
