.sendAndRequstContainer {
  width: 245px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 30px auto 50px;
}
.sendAndRequstContainer .buttonContainer {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.sendAndRequstContainer .send {
  transform: rotate(0deg);
}
.sendAndRequstContainer .request {
  transform: rotate(-180deg);
}
