.sendAndRequstContainer {
  width: 200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 30px auto 50px;
}
.sendAndRequstContainer .buttonContainer {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.sendAndRequstContainer .buttonContainer .fill {
  width: 45px;
  height: 45px;

  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sendAndRequstContainer .send {
  transform: rotate(0deg);
}
.sendAndRequstContainer .request {
  transform: rotate(-180deg);
}
