.transactionContainer {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transactionContainer .dateBannerText {
  margin: 10px 0 5px;
  text-align: center;
}
.transactionContainer .noTxText {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  max-width: 300px;
}

.transactionContainer .transaction {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  min-width: 0;
}

.transactionContainer .transaction p {
  margin: 0;
}
.transactionContainer .transaction .textContainer {
  flex: 1 1 0; /* grow to fill, shrink freely, start from 0 */
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  min-width: 0;
}

.transactionContainer .descriptionText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  flex-shrink: 1;
}
.transactionContainer .transaction .dateText {
  font-weight: 300;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  flex-shrink: 1;
}
.transactionContainer .transaction .amountText {
  align-self: flex-start;
}
.transactionContainer .transaction .formattedSatTextContainer {
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  margin-left: 8px;
}
.transactionContainer .viewAllTxText {
  text-align: center;
  cursor: pointer;
  margin: 10px 0 0;
}
