#walletHomeContainer {
  width: 100%;
  height: 100%;
  /* max-width: 800px; */
  padding-bottom: 65px;
  overflow-y: scroll;
  margin: 0 auto;
}
.customWalletHomeStyle {
  max-width: calc(800px * 1.06);
}
.lrc20Overlay {
  padding: 20px 0 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.lrc20Overlay .lrc20ContentContiner {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}
.txsContainer {
  width: 90%;
  margin: 20px auto 15px;
  border-radius: 18px;
  padding: 20px;
}
.txsContainer .header {
  max-width: 500px;
  opacity: 0.6;
  margin: 0 auto;
}
