.customButton {
  width: 100%;
  max-width: 300px;
  min-width: 120px;
  min-height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #fff;
  color: #121212;
  cursor: pointer;
  margin: 0 auto;
}

.customButton p {
  margin: 0;
}
