.error-content {
  height: max-content;
  max-height: 95%;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 95%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.error-content-scroll {
  overflow-y: scroll;
}

.error-message {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 16px;
  line-break: anywhere;
}
